
.button {
    -fx-background-color: linear-gradient(#4CAF50, #2E7D32);
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 8 20 8 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 3, 0, 0, 1);
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: linear-gradient(#66BB6A, #388E3C);
}

.button:pressed {
    -fx-background-color: linear-gradient(#2E7D32, #1B5E20);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 3, 0, 0, 1);
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 36px;
    -fx-font-weight: bold;

}

.highscore-title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-fill: white;
}

.highscore-entry {
    -fx-font-size: 18px;
    -fx-fill: white;
}

.highscore-top3 {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: white;
}
